
<section class="skills-section section">
                <section class="section activities-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Professional Activities</h2>
                  <p>  Organizer for the 4th Integrating Planning, Acting, and Execution (IntEx) and 8th Goal Reasoning (GR) held at ICAPS-2020 <p>
                  <p> Served as a reviewer for IJCAI-16 GR Workshop, AAAI-16, ACS-17, and ICAPS-19. </p>
                
            </section><!--//section-->
