<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">WSU Collaboration and Cognition Laboratory, Dayton OH</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research question: how can an autonomous agent respond to unexpected changes in a dynamic environment?</p>  
                        <p>Worked on developing an interface between a cognitive architecture and a humanoid robot.</p>
                        <p>Worked on the relationship between Perception, Planning, and Interpretation. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher</h3>
                            <div class="time">2013 – 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Kno.e.sis Center, Dayton OH</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>	Conducted research in areas of cloud, big data and machine learning in distributed frameworks. </p>
                        <p> Worked on an approach to scale up existing Euclidean embedding algorithms for Big Data. </p>

                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2011 – 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">AAAICO</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Developed a Valuation system to estimate share prices of banks. </p>
                      <p> Developed an Excel Add-in that shows on-line trading information. </p>
                      <p> Developed a duplex WCF service that pushes new data to subscribed clients. </p>

                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
