<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
 
                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Scientist </h3>
                            <div class="time">2021 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Metron Inc, Virgina, VA </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Conduct research and develope autonomy algorithms for underwater vehicles.</p>  
                      
                    </div><!--//details-->
                </div><!--//item-->

  
                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Scientist </h3>
                            <div class="time">2019 - 2021</div>
                        </div><!--//upper-row-->
                        <div class="company">Knexus Research Corp., Maryland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Conduct research and develop systems in goal reasoning, cognitive architectures, theory of mind and automated planning applied toward a range of autonomous systems for DARPA.</p>  
                      
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant </h3>
                            <div class="time">2015 - 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://mcox.org/">WSU Collaboration and Cognition Laboratory</a> ,Dayton, OH</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Investigated autonomous agents operating in dynamic environments.</p>  
                        <p>Developed an interface between the MIDCA cognitive architecture and a Baxter humanoid robot.</p>
                        <p>Studied the relationship between Perception, Planning, and Interpretation. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant </h3>
                            <div class="time">2013 – 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Kno.e.sis Center, Dayton, OH</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>	Conducted research in areas of cloud computing, big data and machine learning in distributed frameworks. </p>
                        <p> Worked on an approach to scale up existing Euclidean embedding algorithms for Big Data. </p>

                        
                    </div><!--//details-->
                </div><!--//item-->
                
               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time"> 2012 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Agah Co</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Developed a customized online shopping store using Grails and My SQL. </p>
                      

                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2011 – 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">AAAICO</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Developed a Valuation system to estimate share prices of banks. </p>
                      <p> Developed an Excel Add-in that shows on-line trading information. </p>
                      <p> Developed a duplex WCF service that pushes new data to subscribed clients. </p>

                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                      <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2009 – 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Arish Co</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Developed apps to read utility meters remotely using varied technologies (GPRS, etc.) </p>
                     
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
