<section class="myproject-section section">
                <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                
                 
              
                <div class="item">
                    <span class="project-title"><a href="http://mcox.org/">MIDCA (METACOGNITIVE INTEGRATED DUAL CYCLE ARCHITECTURE)</a></span> - 
                  <span class="project-tagline">My work focused on integrating Perception, Planning and Interpretation to help an agent to respond to unexpected changes in dynamic world. We claim that an intelligent agent should actively watch for what can go wrong and
anticipate mistakes before they occur. Some world changes affect the agent’s goals and some affect
the agent’s plan. The agent should be able to respond to these changes appropriately to successfully
accomplish its tasks. 
                     <a href="https://drive.google.com/file/d/0B-iQ8RLoz4UlSXVKRk1fVHQ3ODQ/view">  Video of MIDCA Controlling a Robot </a>
                 </span>
                    
                </div><!--//item-->  
                  
                  
              <div class="item">
                    <span class="project-title">
                      <span class="project-tagline"> <b>RASP-QS </b> </span> :
                      <span class="project-tagline">
                      Efficient and Confidential Query Services in the Cloud (
                    <a href="http://cecs.wright.edu/~keke.chen/rasp-qs/rasp-qs.htm"> Query Processing Demo and Visualization </a></span>  )
                    
                 </span>
                    
                </div><!--//item-->      
                
                
            </section><!--//section-->
