<section class="myproject-section section">
                <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Skills</h2>
                
                <div class="item">
                    <span class="project-title" <a href=" http://mcox.org/"> MIDCA (META INTEGRATED DUAL CYCLE ARCHITECTURE) </a></span> -
                    <span class="project-tagline">Developed an interface between MIDCA and ROS. </span>
                    <span class="project-tagline">Integrate Planning and Perception.</span>
                    
                </div><!--//item-->
                
            </section><!--//section-->
