<section class="myproject-section section">
                <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2> 
                
                 <div class="item">
                   <span class="project-title"> <b>PRIDE </b></span> -  
                  <span class="project-tagline">Designed and developed a collection of AI based reasoning components: Cognitive Appraisal:
                    appraising the actions of others, determining the intent of actions, and updating the agent’s emotions in response.
                    Goal Reasoning: the agent’s ability to choose which goals to act upon based on its identified emotions and beliefs. 
                    Multi-agent Planning: the agent’s abilitytogenerateplanstoachieveitsgoals in an adversarial dynamic environment.  </span>
                  <br />    
                  
                    </div><!--//item-->  
  
          <div class="item">
             
                       <span class="project-title"> <b>PRESNA </b> </span> :
                      <span class="project-tagline">
                      Lead the AI effort to simulate realistic crowd behavior in a crisis monitoring system.
               
                    
                </div><!--//item-->  
              
                <div class="item">
                    <span class="project-title"><a href="http://www.midca-arch.org/">MIDCA (METACOGNITIVE INTEGRATED DUAL CYCLE ARCHITECTURE)</a></span> - 
                  <span class="project-tagline">My work focused on integrating Perception, Planning and Interpretation to help an agent to respond to unexpected changes in dynamic world. We claim that an intelligent agent should actively watch for what can go wrong and
anticipate mistakes before they occur. Some world changes affect the agent’s goals and some affect
the agent’s plan. The agent should be able to respond to these changes appropriately to successfully
accomplish its tasks.  </span>
                  <br /> 
                  <span class="project-tagline">  (  
                    <a href="https://drive.google.com/file/d/0B-iQ8RLoz4UlSXVKRk1fVHQ3ODQ/view"> Video of MIDCA Controlling a Robot </a>
                ); In this demo, someone makes a change in the world while Baxter is planning. Using plan monitors, Baxter can observe the change and adapt its plan for the new situation. </span>
                </div><!--//item-->  
                  
                  
              <div class="item">
                  
                       <span class="project-title"> <b>RASP-QS </b> </span> :
                      <span class="project-tagline">
                      Efficient and Confidential Query Services in the Cloud (
                    <a href="https://www.cs.mu.edu/~keke/rasp-qs/rasp-qs.htm"> Query Processing Demo and Visualization </a></span>  )
                    
               
                    
                </div><!--//item-->      
                
                
            </section><!--//section-->
