<section class="section publication-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                
                <div class="item">
                     <span class="project-tagline">
                       Cox, M. T., and Dannenhauer, Z. A. (2017). “Perceptual goal monitors for cognitive agents in
changing environments.” In Poster Collection of the Fifth Annual Conference on Advances in
Cognitive Systems (pp. 1-16). Palo Alto, CA: Cognitive Systems Foundation.
                  </span>
                    
               
            </section><!--//section-->
