<section class="section publication-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
           <ul type="Disc">     
              <li>  <div class="item">
                     <span class="project-tagline">
                       Cox, M. T., & Dannenhauer, Z. A. (2017). “Perceptual goal monitors for cognitive agents in
changing environments.” In <i>Poster Collection of the Fifth Annual Conference on Advances in
                       Cognitive Systems (pp. 1-16)</i>. Palo Alto, CA: Cognitive Systems Foundation.
                  </span>
                  </div><!--//item-->
             </li>
                    <div class="item">
                 <li>   
                    <span class="project-tagline">
                      Dannenhauer, Z. A., & Cox, M. T. (2017).“Rationale-based visual planning monitors for cognitive
systems.” In V. Rus & Z. Markov (Eds.), <i> Proceedings of the 30th International FLAIRS
Conference (pp. 182-185)</i>. Palo Alto, CA: AAAI Press.
                      </span>
                      
                </div><!--//item-->
             </li>
  <li>
   <div class="item">
                 
                    <span class="project-tagline"> Alavi, Z. and Cox, M.T. (2016). “Rationale-based Visual Planning Monitors.” In <i> Working Notes
                      of the 4th Workshop on Goal Reasoning. </i> New York, IJCAI-16.  </span>
                </div><!--//item-->
  </li>
  <li>
   <div class="item">
                    
                    <span class="project-tagline"> Cox, M. T., Alavi, Z., Dannenhauer, D., Eyorokon, V., & Munoz-Avila, H. (2016). “MIDCA: A
metacognitive, integrated dual-cycle architecture for self-regulated autonomy.” <i> Proceedings of
                      the 30th AAAI Conference on Artificial Intelligence.</i> Palo Alto, CA: AAAI Press.</span>
                </div><!--//item-->
  </li>
  <li>
   <div class="item">
                    
                    <span class="project-tagline"> Alavi, Z., Sharma, S., Zhou, L., & Chen, K. (2015, June). “Scalable Euclidean Embedding for
Big Data.” In <i>Cloud Computing (CLOUD), 2015 IEEE 8th International Conference on (pp.
                      773-780). </i> IEEE. </span>
                </div><!--//item-->
  </li>

  <li>
   <div class="item">
                    
                    <span class="project-tagline"> Alavi, Z., Zhou, L., Powers, J., &Chen, K. (2014). “RASP-QS: Efficient and Confidential Query
                      Services in the Cloud.” <i>Proceedings of the VLDB Endowment, 7(13).</i></span>
                </div><!--//item-->
  </li>
  <li>
    
  <div class="item">
                    
                    <span class="project-tagline"> Rahbarinia, B., Pedram, M. M., Arabnia, H., & Alavi, Z. (2010, February). “A multi-objective
scheme to hide sequential patterns.” In <i> Computer and Automation Engineering (ICCAE), 2010
                      The 2nd International Conference on(Vol. 1, pp. 153-158).</i> IEEE.</span>
                </div><!--//item-->
               
  </li>
  <li>
  <div class="item">
                    
                    <span class="project-tagline"> Rahbarinia, B., Pedram, M. M., Arabnia, H., & Alavi, Z. (2010, February). “A multi-objective
scheme to hide sequential patterns.” In <i> Computer and Automation Engineering (ICCAE), 2010
                      The 2nd International Conference on(Vol. 1, pp. 153-158).</i> IEEE.</span>
                </div><!--//item-->
  </li>    
  </ul>
            </section><!--//section-->
