<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills </h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Distributed Computing: MapReduce &amp; Pig &amp; Hadoop</h3>
                                                     
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Machine Learning: Deep Learning (RNN, LSTM)  &amp;  Deep Learning Platforms (TensorFlow)  &amp; SVM 
                           &amp;  Dimensionality Reduction Techniques  &amp;  Classification and Clustering Algorithms.</h3>
                                                      
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Programming: JAVA &amp; C# &amp; Python &amp; Prolog &amp; Scheme</h3>
                                                      
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Databases: MY SQL &amp; SQL Server &amp; SPARQL </h3>
                                                     
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Knowledge Representation: RDF &amp; RDFS &amp; OWL </h3>
                                                     
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Robotics: ROS &amp; Gazebo</h3>
                                                    
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
