<section class="skills-section section">
                <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Skills</h2>
                
                <div class="item">
                    <span class="project-title">Distributed Computing</span> - <span class="project-tagline">MapReduce, Pig, Hadoop</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Machine Learning</span> - 
                    <span class="project-tagline"> Deep Learning (RNN, LSTM), Deep Learning Platforms (TensorFlow), SVM, Dimensionality Reduction Techniques, Classification and Clustering Algorithms. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Programming</span> - <span class="project-tagline">JAVA,C#,Python,Prolog,Scheme</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Databases</span> - <span class="project-tagline">MY SQL, SQL Server, SPARQL  </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Knowledge Representation</span> - <span class="project-tagline"> RDF, RDFS, OWL </span>
                </div><!--//item-->
                  <div class="item">
                    <span class="project-title">Robotics</span> - <span class="project-tagline"> ROS, Gazebo </span>
                </div><!--//item-->
            </section><!--//section-->
